@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  background-color: #222222;
  
}

h1{
  font-size: 4rem;
  line-height: 4rem;
}

p{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: #F7F7F7;
}

.params{
  width: 286px;
  height: 50px;
  background-color: #626262;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

.textPrams{
  font-size: 1rem;
}

.inputs{
  width: 100px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid #9E9E9E;
  font-size: 1rem;
  text-align: center;
}

.separadorTop{
  display: flex;
  justify-content: space-between;
  width: 286px;
  margin-bottom: 12px;
}

.separadorBotton{
  display: flex;
  justify-content: space-between;
  width: 286px;
  margin-top: 12px;

}

.main{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color:  #FFE8D9;
}

.previewborder{
  min-width: 286px;
  min-height: 286px;
  background-color: #FF9466;
}

footer{
  margin-top: 20px;
  text-decoration: none;
  
}

a{
  text-decoration: none;
  color: #FFE8D9;
}

img{
  width: 20px;

}

svg{
  color: #F7F7F7;
}